[submodule "snapd"]
	path = snapd
	url = https://aur.archlinux.org/snapd.git
[submodule "yay"]
	path = yay
	url = https://aur.archlinux.org/yay.git
[submodule "plasma5-applets-window-title"]
	path = plasma5-applets-window-title
	url = https://aur.archlinux.org/plasma5-applets-window-title.git
[submodule "plasma5-applets-window-buttons"]
	path = plasma5-applets-window-buttons
	url = https://aur.archlinux.org/plasma5-applets-window-buttons.git
[submodule "birdtray"]
	path = birdtray
	url = https://aur.archlinux.org/birdtray.git
[submodule "firefox-ubuntu-bin"]
	path = firefox-ubuntu-bin
	url = https://aur.archlinux.org/firefox-ubuntu-bin.git
[submodule "plasma-hud-git"]
	path = plasma-hud-git
	url = https://aur.archlinux.org/plasma-hud-git.git
[submodule "thunderbird-ubuntu-bin"]
	path = thunderbird-ubuntu-bin
	url = https://aur.archlinux.org/thunderbird-ubuntu-bin.git
[submodule "gamemode"]
	path = gamemode
	url = https://aur.archlinux.org/gamemode.git
[submodule "pamac-cli"]
	path = pamac-cli
	url = https://aur.archlinux.org/pamac-cli.git
[submodule "pamac"]
	path = pamac
	url = https://aur.archlinux.org/pamac.git
[submodule "pamac-qt-git"]
	path = pamac-qt-git
	url = https://aur.archlinux.org/pamac-qt-git.git
[submodule "pamac-tray-appindicator"]
	path = pamac-tray-appindicator
	url = https://aur.archlinux.org/pamac-tray-appindicator.git
[submodule "plasma5-applets-window-appmenu"]
	path = plasma5-applets-window-appmenu
	url = https://aur.archlinux.org/plasma5-applets-window-appmenu.git