[submodule "firefox-appmenu"]
	path = firefox-appmenu
	url = https://aur.archlinux.org/firefox-appmenu.git
[submodule "snapd"]
	path = snapd
	url = https://aur.archlinux.org/snapd.git
[submodule "yay"]
	path = yay
	url = https://aur.archlinux.org/yay.git
[submodule "plasma5-applets-window-title"]
	path = plasma5-applets-window-title
	url = https://aur.archlinux.org/plasma5-applets-window-title.git
[submodule "plasma5-applets-window-buttons"]
	path = plasma5-applets-window-buttons
	url = https://aur.archlinux.org/plasma5-applets-window-buttons.git
